.main {
  text-align: center;
}

.textfield {
  width: 80vw;
  height: 40vh;
}

.keyboard {
  width: 90vw;
  display: flex;
  flex-direction: column;
}

.keyboard__row {
  width: 90vw;
  display: flex;
  justify-content: space-between;
}

span {
  border: 1px solid black;
  border-radius: 3px;
}

